<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Jingzhou Wang" content="">


    <link href="../stylesheets_wjz/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets_wjz/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets_wjz/assets/css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Discussion Boards</h2>

            <div class="m-box page-actions">
                <div class="col-md-7">
                    <a href="/" class="btn btn-default btn-lg" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
                    <button class="btn btn-default btn-lg" onclick="Main_reply()">Create Subject</button>
                    <button class="btn btn-default btn-lg" type="submit"> <img src="../stylesheets_wjz/assets/images/icon-my-repository.svg" class="icons"> My Repository</button>
                    <a href="groupstudy" class="btn btn-default btn-lg" type="submit"><img src="../stylesheets_wjz/assets/images/icon-group-study.svg" class="icons"> Study Note</a>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog" aria-hidden="true"></i> Options <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-times" aria-hidden="true"></i> Delete</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-external-link" aria-hidden="true"></i> View Log</a></li>
                        </ul>
                    </div>
                </div><!-- end col-md-9 -->
                <div class="col-md-5">
                    <a class="btn btn-lg btn-primary pull-right" href="/course" role="button">Course page &raquo;</a>
                </div><!-- end col-md-5 -->
                <div class="clearfix"></div>
            </div>

            <div class="m-board-header">
                <div class="m-board-header-cell m-board-header-key"></div>
                <div class="m-board-header-cell m-board-header-title">
                    Course Boards
                </div>
                <div class="m-board-header-cell m-board-header-expand">
                    <div class="js-collapse-all">
                        <i class="fa fa-compress" aria-hidden="true"></i> Collapse All
                    </div>
                    <div class="js-expand-all">
                        <i class="fa fa-expand" aria-hidden="true"></i> Expand All
                    </div>
                </div>
                <div class="m-board-header-cell m-board-header-readstatus">
                    Unread
                </div>
                <div class="m-board-header-cell m-board-header-check">
                    <input type="checkbox" id="checkAll" name="" value="">
                </div>
            </div>


                {{#each posts}}
            <div class="m-board">
                <div class="m-board-cell m-board-key"></div>
                <div class="m-board-cell m-board-title">
			{{this.MainPost.information}}
                </div>
                <div class="m-board-header-cell m-board-header-expand">
                    <div class="js-expand">
                        <div class="js-expand-indv"><i class="fa fa-expand" aria-hidden="true"></i> Expand</div>
                    </div>
                </div>

                <!-- commit button Start-->
                <a class="m-board-cell m-board-readstatus " onclick="Sub_reply()">
                    Comment
                </a>

                <!--<button class="btn " type="submit">comment</button>-->
                <!-- commit button End-->

                <div class="m-board-cell m-board-check">
                    <input type="checkbox" name="" value="">
                </div>
            </div>

	<div class="m-topics-container">
		 {{#each this.SubPosts}}
                    <div class="m-topic">
                        <div class="m-topic-cell m-topic-key"></div>
                        <div class="m-topic-cell m-topic-title">
				<h2>{{this.information}}</h2><br>
                        </div>

                        <div class="m-topic-cell m-topic-readstatus">
                            <button><img src="../stylesheets_wjz/assets/images/like.png" class="icons2"></button>
                            <div class="m-label">2</div>
                        </div>


                        <div class="m-topic-cell m-topic-readstatus">
                            <button><img src="../stylesheets_wjz/assets/images/dislike.png" class="icons2"></button>
                            <div class="m-label m-label-unread">4</div>

                        </div>


                        <div class="m-topic-cell m-topic-check">
                        </div>
                    </div>
                 {{/each}}

                    <div class="m-topic">
                        <div class="m-topic-cell m-topic-key"></div>
                        <div class="m-topic-cell m-topic-title">
				<h2>test</h2><br>
                        </div>

                        <div class="m-topic-cell m-topic-readstatus">
                            <button><img src="../stylesheets_wjz/assets/images/like.png" class="icons2"></button>
                            <div class="m-label">2</div>
                        </div>


                        <div class="m-topic-cell m-topic-readstatus">
                            <button><img src="../stylesheets_wjz/assets/images/dislike.png" class="icons2"></button>
                            <div class="m-label m-label-unread">4</div>

                        </div>


                        <div class="m-topic-cell m-topic-check">
                        </div>
                        </div>
        </div>

                {{/each}}

    </div><!-- end row -->
</div><!-- end container -->
<br>
        <br>
        <center>
	  <div id = "submitForm" style="display:none;">
            <h4 id="formHeader"></h4>
            <form method="post" action="#" id="rtf">
                <br>
                <textarea  name="information" rows="10" cols="30"></textarea>
		<input type="text" name="main_course_id" value="1" style = "display:none"/>
                <br>
                <br>
                <input type="submit" value="Submit Data">
            </form>
	  </div>
        </center>
<br>
<div id="my-container" class="table-responsive">
</div>




<div class="footer">
    <p>&copy; 2017 Symposium, Inc.</p>
</div>

<!--Josn Test Part START -->
    <script>
    function Main_reply(){
       var x = document.getElementById('submitForm');
       x.style.display = 'block';
       var y = document.getElementById('formHeader');
       y.innerHTML = "Main Reply Editor";
    }
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../stylesheets_wjz/assets/js/bootstrap.min.js"></script>
<script src="../stylesheets_wjz/assets/js/main.js"></script>
<script src="../stylesheets_wjz/assets/js/functions.js"></script>

</body>
</html>
